body {
  background-color: #3d3d3d;
  font-family: arial;
  color:white;
  margin-right: 2%;}

h1{color:lightgreen;
  background-color: #3d3d3d;}
h2{}
h3{color: lightblue;
  padding: 0;}
h4{}
h5{}
h6{}

hr{display: block;
  border:2px dashed lightblue;}

video{color:white;
  background-color: black;}

img{align-content: center;}

a{color: lightblue;}
a:active{color: #ffc130;
  background-color: lightblue;}
a:visited{color: #ff42fb;}
a:hover{color: white;
  background-color: #7a002e;
  font-weight: bold;}

p{}

ul{list-style-image:url(mf.png);
  color: lightgreen;}
ol{list-style-type: ;}
  li{}

table{color: lightpink;
  border: 3px solid white;}
  th{text-decoration: underline;
    border:2px dashed lightblue;}
  tr{}
    td{border: 2px dashed lightblue;}

#toc {height:80%;
  width: 18%;
  position:fixed;
  border: 4px solid lightblue;
  margin-right: 81%;
  margin-top: 10%;
  background-color: #3d3d3d;
  text-align: center;}

#tit {width: 99%;
  position: fixed;
  background-color: #3d3d3d;}

#main {margin-top: 9%;
  margin-left: 20%;
  margin-right: 1%;
  position:absolute;
  z-index: -1;}

#filler {width:100%;
  position: fixed;
  background-color: #3d3d3d;
  color: #3d3d3d;
  margin-top: -10%;
  padding-top: 10%;}

.contents {padding: 3%;
  margin-left: 20%;
  text-align: left;}

.webtitle {padding: 2%;
  text-align: center;
  border: 4px solid lightblue;
  color: orange;}
